html,
body {
  height: 100%;
}

body {
  text-align: center;
  background-image: url("../image/0d2.jpg"); 
  background-size: cover;
}

h1 {
	color: white;
	font-style: bold;
	text-shadow: 2px 2px black;
}

.container {
	color: white;
	font-style: bold;
	text-shadow: 2px 2px black;
}